# Dependencies
node_modules/
.pnpm-store/
.yarn/

# Turborepo & Build Outputs
.turbo/
**/dist/
**/build/
**/.next/
**/out/

# Environment files
.env
.env*.local
!.env.example

# Logs and OS files
*.log
.DS_Store
Thumbs.db